# Node.js
/node_modules
**/node_modules

# Monorepo-specific
.pnpm-store/
.yarn/
.yarn-cache/
.yarnrc.yml
.npmrc
.pnp.* # For Yarn PnP

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.stacktrace

# Build artifacts
dist/
build/
.cache/
.next/ # Next.js
out/ # Next.js static export

# Dependency files
package-lock.json
yarn.lock
pnpm-lock.yaml

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Testing
/coverage
/junit.xml
/nyc_output
/.jest/
